@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,body,ul,ol,li,h1,h2,h3,h4,h5,h6,p,div {
  margin: 0;
  padding: 0;
} 

/* < Css Bagian Header > */
nav{
  background-color: #001e33;
  color: #62717c;
  height: 80px;
  width: 100%;
}

label.logo{
  color: #62717c;
  font-size: 2.5em;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Tangerine', serif;
  text-shadow: 2px 2px 2px #aaa;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: #62717c;
  text-decoration: none;
  font-weight: 700;
  font-size: 23px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  border: 1px solid #6432096e transparent;
  transition: 0.6s ease;
  border-radius: 10px;
}

a:hover{
  background-color: #62717c;
  color: #001e33;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: #62717c;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.jumbotron img{
  top: 0%;
  left: 0;
  width: 100%;
  height: 610px;
  margin: auto;
}

/* Bagian Body */
body {
  background: rgb(17, 15, 143);
  margin: 0;
  font-family: "Lucida Grande";
}

.clear {
  clear: left;
}

/* TOP Wrapper */
.top-wrapper {
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("https://drive.google.com/uc?export=view&id=19k2cDGnKhk5rtzn6HpinE-2YmuvYCFy1");
  background-size: cover;
  color: white;
  text-align: center;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.copy-container h1 {
  padding-bottom: 25px;
  font-size: 80px;
  font-family: Georgia;
  color: rgb(23, 168, 18);
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.lessonss {
  float: left;
  width: 50%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon h1 {
  font-size: 50px;
  position: absolute;
  top: 100px;
  width: 100%;
  color: rgb(0, 0, 0);
}

.lesson-icon p {
  font-size: 25px;
  margin-top: 15%;
  position: absolute;
  top: 100px;
  width: 100%;
  color: rgb(8, 4, 4);
}

/* lesson Wrapper */
.lesson-wrapper {
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.lesson {
  float: left;
  width: 25%;
  height: 200px;
  position: relative;
  font-weight: 500;
  font-size: 3.3em;
  padding-top: 75px;
}

.lesson img {
  max-height: 100px;
}

.lesson .text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 30px;
  color: #871247;
}

/* bottom Wrapper */


/* < Css Bagian Footer >*/
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer img{
   height: 32px;
   width: 75px;
 }

 footer{
     background-color: #EBEDEF ;
 }
 
 footer h2{
     text-align: center;
    font-family: Ananda;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 footer p, a{
     color: #b3aeb5;
     font-size: 12px;
     font-family: Century Gothic;
 }

body,h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
  }
  
  h1,h2,h3,h4,p,a {
    text-decoration: none;
    color: black;
    font-family: Century Gothic;
  }
  
  .footer-col a {
    color: rgba(0,0,0,0.75);
  }
  
  .content {
    height: 80vh;
    background: #ccc;
  }
  
  .footer-content-wrapper {
    width: 80%;
    margin: 1em auto;  
  }
  
  .footer-col {
    display: inline-block;
    padding: 0.5em 0.1em 0.5em 1em;
    box-sizing: border-box;
    border-right: solid 1px #bbb;
  }
  .footer-col:nth-child(4) {
    border: none;
  }
  
  .ta-l {
    text-align: left;
  }
  .flt {
    float: left;
  }
  
  .flt:nth-child(4):after {
     content: " "; 
     visibility: hidden; 
     display: block; 
     height: 1em; 
     clear: both;
  }
  
  .large-25 {
    width: 25%;
  }
  
  .footer-col a {
    display: block;
    margin: 0.3em 0;
  }
